

.pointer {
  cursor: pointer;
}

.button {
  --font-color: #fff;
  --bg-color: #323232;
  --main-color: #fff;
  width: auto;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 2px 2px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}
