.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #FF5353;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #FF5353;
    border: 2px solid #FF5353;
    box-shadow: 5px 5px 0px #FF5353;
  }
  
  .comic-button:active {
    background-color: #efffc1;
    box-shadow: none;
    transform: translateY(4px);
  }
  .actual   {
    background-color: #fff;
    color: #FF5353;
    border: 2px solid #000;
    box-shadow: 5px 5px 0px #000;
}
.admin-button {
  height: auto;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #FF5353;
  border: 2px solid #000;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.admin-button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.admin-button:active {
  background-color: #efffc1;
  box-shadow: none;
  transform: translateY(1px);
}
.pointer{
  cursor: pointer;
}