img{
    object-fit: fill;
}
.tarjeta, .prof{
    padding: 0px;
    background-color: rgb(58, 58, 58);
    border-radius: 2%;
}
.tarjeta {
    box-shadow: -5px 5px 20px rgba(255, 255, 255, 0.2);
  
}
.bgc {
    background-color: rgb(58, 58, 58);

}
.flip-card__btn:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

/* Btn code  */

.button {
    --font-color: #fff;
    --bg-color: #323232;
    --main-color: #fff;
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 2px 2px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
  .button:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  /* ------------------------------------------------ */
  /* ------------------- SEARCH --------------------- */
  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, hsl(0, 0%, 43%)0%, 100%), #fff);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }